1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your
fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
year_list = [1993,1994,1995,1996,1997,1998]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
year_list[3]

1996

3.In the years list, which year were you the oldest?

In [3]:
max(year_list)

1998

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Ans - no

In [5]:
things[1].capitalize()

'Cinderella'

In [6]:
things

['mozzarella', 'cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [7]:
surprise = ["Groucho", "Chico", "Harpo"]

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [8]:
surprise[-1] = surprise[-1].lower()
surprise

['Groucho', 'Chico', 'harpo']

In [9]:
surprise[-1] = surprise[-1][::-1]
surprise

['Groucho', 'Chico', 'oprah']

In [10]:
surprise[-1] = surprise[-1].upper()
surprise

['Groucho', 'Chico', 'OPRAH']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, 
    and walrus is morse.

In [11]:
e2f = {
    'dog':'chien',
    'cat':'chat',
    'walrus': 'morse'
}

9. Write the French word for walrus in your three-word dictionary e2f.

In [12]:
e2f['walrus']

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [13]:
f2e = {}
for k,v in e2f.items():
    f2e[v] = k
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [14]:
f2e['chien']

'dog'

12. Make and print a set of English words from the keys in e2f.

In [15]:
for k in e2f.keys():
    print(k)

dog
cat
walrus

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
    Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key
    refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty 
    dictionaries.

In [16]:
life = {
    'animals' : {'cats': ['Henri', 'Grumpy', 'Lucy'],
                 'octopi':{},
                 'emus':{},
    },
    'plants' :{},
    'other' :{}
}

14. Print the top-level keys of life.

In [17]:
for k in life.keys():
    print(k)

animals
plants
other

15. Print the keys for life['animals'].`

In [18]:
for key,v in life.items():
    if key == "animals":
            print(v.keys())
    else:
        pass

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life['animals']['cats']

In [19]:
for key,v in life.items():
    if key == "animals":
        for i,j in v.items():
            if i == 'cats':
                print(j)
    else:
        pass

['Henri', 'Grumpy', 'Lucy']